@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
.container-fluid{
	margin: 0!important;
	padding: 0 !important;
}

.bg1{
	background-image: url(../images/01.png);
	height: 100vh;
	background-size: cover;
}

.logo{
	margin-left: 150px;
}

.bg-black{
	background-color: black;
}

ul li{
	padding: 0 20px 0px 20px;
}

.img1{
	margin-top: 110px;
}

.text1
{
	color: white;
	font-family: raleway;
	font-weight: 400;
	margin-top: 33px;
	margin-bottom: 36px;
}

.line1{
	border: white 1px solid;
	width: 75px;
	margin: 0;
}

.text2{
	margin-top: 30px;
	margin-bottom: 44px;
	color: white;
	font-family: raleway;
	font-weight: 100;
	font-size: 16px;
}